body {
    margin: 0;
    padding: 0;
    font-family: "Canva Sans", Arial, Helvetica, sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    position: relative;
}

svg {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}

.scrollElement {
    position: absolute;
    height: 6000px;
    width: 100%;
    top: 0;
    z-index: 4;
}

.btn {
    display: none;
}

.btn_works {
    left: 100px;
    right: unset;
    text-decoration: none;
}

.btn:hover {
    background: #ffffff;
    color: #1B1734;
}

/* MARK: ---0-490 Mobile */
@media (max-width: 490px) {

    #text,
    #arrow {
        transform-origin: 50% 50%;
        transform: translateY(-120px) scale(0.8);
    }

    #info2 {
        transform-origin: 50% 50%;
        transform: translateY(-120px) scale(0.8);
    }
}
